div{

    padding: 10px;
    margin: 10px;
}

.first {

    background-color: tomato;
}

.second{

    background-color: green;
}
.schedule {

    background-color: aquamarine;
}
.third{

    background-color: yellowgreen;
}